/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo{
  margin-left: 20px;
}

#index-banner {
  height: 500px;
  background: url(./img/hero.jpg) fixed;
}

.header{
  padding-top: 140px;
}

/*.hidden {
  display: none;
}*/
